#slideShow{
	position:relative;
	z-index:1;
}
.slides{
	float:left;
	background:#000000;
	position:relative;
	z-index:1;
}
.slide{
	display:none;
	float:left;
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
}
.slide.activeSlide{
	display:block;
}
#slideNav{
	float:right;
	margin:-30px 25px 0px 0px;
	z-index:100;
	position:relative;
	display:none;
}
.slideLink{
	background:#3fabcc;
	width:19px;
	height:19px;	
	display:none;	
	float:left;
	text-align:center;
	line-height:19px;
	margin-left:1px;
}
.slideLink a{
	color:#ffffff;
	width:19px;
	height:19px;
	display:block;
	font-size:12px;
	font-weight:700;
}
.slideLink a:hover{
	text-decoration:none;
	background:#317ec4;
}
.slideLink .activeLink{
	background:#317ec4;
}